{{! Contents of the "mute actions" popup }}
<ul class="nav nav-list mute_popover" data-id="{{ notifications.mute }}" data-name="{{ notifications.mute }}">
    <li>
        <a class="unmute">
            <i class="time"></i>
            {{t "Unmute" }}
        </a>
    </li>
    <li>
        <a class="30_min_mute">
            <i class="time"></i>
            {{t "30 Minutes" }}
        </a>
    </li>
    <li>
        <a class="1_hour_mute">
            <i class="time"></i>
            {{t "1 Hour" }}
        </a>
    </li>
    <li>
        <a class="2_hour_mute">
            <i class="time"></i>
            {{t "2 Hours" }}
        </a>
    </li>
    <li>
       <a class="4_hour_mute">
           <i class="time"></i>
           {{t "4 Hours" }}
       </a>
    </li>
</ul>
